<div class="submit_item_cont row">
  <div class="submit_item_image col-lg-6">
    <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="previewFile($event)" #fileInput/>
    <i class="fa fa-plus-circle" aria-hidden="true" (click)="uploadImage($event)" *ngIf="hidePlus"></i>
    <img src="" id="preview" alt="" *ngIf="showImg" #preview>
  </div>
  <div class="submit_item_details col-lg-6">
    <div class="category">
      <label for=""><strong>Select Category:</strong></label>
      <select name="category" [(ngModel)]="selectedCategory">
        <option *ngFor="let o of categories" value="{{o.id}}">{{o.categoryName}}</option>
      </select>
    </div>
    <div class="item_name">
      <label for=""><strong>Item Name:</strong></label>
      <input type="text" placeholder="Enter item name" [(ngModel)]="itemName">
    </div>
    <div class="item_make">
      <label for=""><strong>Item Manufacturer:</strong></label>
      <input type="text" placeholder="Enter manufacturer" [(ngModel)]="itemManufacturer">
    </div>
    <div class="datepicker">
      <label for=""><strong>Select Date Range:</strong>
      </label>
      <input class="form-control" placeholder="Select date range" bsDaterangepicker #dpr="bsDaterangepicker" [(ngModel)]="datePicker">
    </div>
    <div class="item_price">
      <label for=""><strong>Price:</strong></label>
      <input type="number" placeholder="Enter price" [(ngModel)]="itemPrice"> /- per day!
    </div>
    <div class="item_pickup">
        <label for=""><strong>Item Location:</strong></label>
        <input type="text" placeholder="Enter address" [(ngModel)]="itemLocation">
    </div>
    <div class="bidding">
      <label class="container"><strong>Allow Bidding?</strong>
        <input type="checkbox" (click)="bidPermission($event)">
      </label>
      <div *ngIf="showPricing">
          <input type="number" placeholder="Enter minimum bid price" [(ngModel)]="minPrice">
          <input type="number" placeholder="Enter Maximum bid price" [(ngModel)]="maxPrice">
      </div>
    </div>
    <button class="btn btn-success" (click)="submitItem()">
      Submit item
    </button>
  </div>
</div>