<div class="row lendit_forgotPass_main">
  <div class="lendit_forgotPass_cont">
    <div class="lendit_forgotPass">
      <h4>Forgot Password</h4>
      <form [formGroup]="fpForm" (ngSubmit)="forgotPasword(fpForm.value)">
        <div class="fp__formDetails">
          <label class="semi14">Email ID</label>
          <input class="reg14" [ngClass]="{'errorValidator': !fpForm.controls['email'].valid && fpForm.controls['email'].touched || notValid}"
            type="email" formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="Enter your email id">
          <h2 class="reg12" *ngIf="!fpForm.controls['email'].valid && fpForm.controls['email'].touched">*Please enter valid email id</h2>
        </div>
        <div class="fp__container--formButton">
          <button type="submit" class="button" [disabled]="!fpForm.valid">Verify Email</button>
        </div>
      </form>
    </div>
  </div>
</div>
