<div class="row sub_head">
  <h2>Items to Grab!</h2>
  <div class="sort">
    <label for=""><strong>Sort by:</strong></label>
    <select name="sort" id="">
      <option value="Price: High to Low">Price: High to Low</option>
      <option value="Price: Low to High">Price: Low to High</option>
      <option value="Recent">Recent</option>
      <option value="Older">Older</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 left-sec">
    <div class="row">
      <div class="col-lg-12 filter">
        <h4>Filter by:</h4>
        <ul>
          <li *ngFor="let c of categories">{{c.categoryName}}</li>
        </ul>
        <!-- <h6>Home Applicances</h6>
        <h6>Mobiles & Accessories</h6>
        <h6>Vehicles</h6> -->
      </div>
    </div>
  </div>
  <div class="col-lg-10 right-sec">
    <div class="row">
      <div class="item_cont col-sm-3" *ngFor="let i of itemData" id="{{i.itemId}}" (click)="grabNow($event)">
        <div class="placeholder">
          <div class="bidding" *ngIf="i.beedingType == true">
            <strong>Bidding Eligible!</strong>
          </div>
          <img src="{{i.pictures}}">
          <div class="item_make desc">
            <strong>{{i.manufacturer}}&nbsp;&nbsp;{{i.itemName}}</strong>
          </div>
          <div class="item_rate desc" *ngIf="i.beedingType == false">
            <strong>Rs.{{i.flatPrice}}</strong>
          </div>
          <div class="item_rate desc" *ngIf="i.beedingType == true">
            <strong>Min Bid: Rs.{{i.minPrice}}</strong>&nbsp;&nbsp;
            <strong>Max Bid: Rs.{{i.maxPrice}}</strong>
          </div>
          <div class="desc">
            <button class="btn btn-warning" id="{{i.itemId}}" (click)="grabNow($event)">Grab now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>