<div class="item_details_cont row">
  <div class="item_details_image col-lg-6">
    <img src="../../assets/ac.jpg" alt="Air conditioner">
  </div>
  <div class="item_details_desc col-lg-6">
    <h2>Air conditioner</h2>
    <h4>Voltas</h4>
    <div class="avl_date">
      <h6>Availability: 31/03/2019 to 02/04/2019</h6>
    </div>
    <div class="desc">
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="price">
      <strong>Price:</strong>
      <h6>Rs. 60/day</h6>
    </div>
    <div class="contact">
      <strong>Lender Contact:</strong>
      <h6>xyz@gmail.com</h6>
      <h6>987*******</h6>
      <h6>98751434516</h6>
    </div>
    <div class="action">
      <div class="bid">
        <strong>Your Bid:</strong> 
        <input type="number" placeholder="Bid Range: Rs.20 - Rs.50">
        <button class="btn btn-warning">Place Bid</button>
      </div>
      <div class="no_bid">
        <button class="btn btn-success">Place order</button>
      </div>
    </div>
  </div>
</div>